* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 255, 255);

}

.wrapper {
    margin: 10rem 0rem ;
    height: 100rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    margin: 0rem 30rem;
}
.box {
    background-color: aquamarine;
    width: 5rem;
    text-align: center;
    line-height: 3.75rem;
    padding: 10px;
}
.box:hover {
    transform: scale(1.1);
}